body {
    background-image: url("pic7.jpg");
    background-color: #390d80;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    background-position: center;
}
.music {
    display: flex;
}
#myButton {
    cursor: pointer;
    margin-top: 20px;
    margin-left: 40px;
    border-radius: 20px;
    border: none;
    filter: drop-shadow(4px 4px 4px rgb(181, 140, 206));
}
#par {
    color: rgb(255, 255, 255);
    filter: drop-shadow(5px 5px 5px rgb(181, 140, 206));
    margin-top: 50px;
    margin-left: 360px;
    font-size: 100px;
}
.parent {
    display: flex;
    justify-content: center;
}
.container {
    background-color: rgb(231, 230, 232, 0.7);
    filter: drop-shadow(4px 4px 4px rgb(181, 140, 206));
    border: none;
    border-radius: 15px;
    width: 50%;
    padding: 40px;
    margin-top: 20px; 
    text-align: center;
    overflow-wrap: break-word;
}
h3 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    color: rgb(2, 2, 43);
}
#input {
    height: 40px;
    width: 50%;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 25px;
    border: none;
}
#input:active, :hover, :focus {
        outline: 0;
        outline-offset: 0;
}  
#guess {
    padding: 10px;
}
#clearForm {
    padding: 10px;
}
#btn {
    background-color: #390d80;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    color:#fff;
    margin-top: 20px;
    padding: 10px;
    border: 3px solid white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    width: 200px;
}
@media all and (max-width:1280px){
    #par {
        margin-left: 330px;
        font-size: 80px;
    }
}
@media all and (max-width:1024px){
    #par {
        margin-left: 220px;
        margin-top: 120px;
    }
}
@media all and (max-width: 912px){
    #par {
        margin-left: 150px;
    }
}
@media all and (max-width:860px){
    #par {
        margin-left: 100px;
        margin-top: 150px;
    }
}
@media all and (max-width:800px){
    #guess {
        width: 80px;
        padding: 5px;
        font-size: 20px;
    }
    #par {
        margin-left: 90px;
        margin-top: 130px;
        font-size: 60px;
    }
    .container {
        width: 50%;
        padding: 20px;
    }
    h3{
        font-size: 20px;
    }
    #input {
        height: 15px;
        font-size: 5px;
        float: none !important;
    }
    #clearForm {
        font-size: 15px;
        padding: 8px;
    }   
    #btn {
        padding: 15px;
        font-size: 20px;
    }
}
@media all and (max-width:768px){
    #par {
        margin-left: 160px;
    }
}
@media all and (max-width: 660px){
    #par {
        margin-left: 120px;
        font-size: 40px;
    }
}
@media all and (max-width:540px){
    #par {
        margin-left: 90px;
        font-size: 50px;
    }
}
@media all and (max-width:500px){
    #guess {
        width: 50px;
        padding: 5px;
        font-size: 15px;
    }
    #par {
        margin-left: 50px;
        margin-top: 90px;
        font-size: 40px;
    }
    .container {
        width: 50%;
        padding: 20px;
    }
    h3{
        font-size: 15px;
    }
    #input {
        height: 15px;
        font-size: 5px;
        float: none !important;
    }
    #clearForm {
        font-size: 12px;
        padding: 7px;
    }  
    #btn {
        padding: 15px;
        font-size: 15px;
    }
}
@media all and (max-width:440px){
    #par {
        margin-left: 60px;
    }
    .container {
        width: 60%;
        padding: 20px;
    }
}
@media all and (max-width:420px){
    #par {
        margin-left: 50px;
    }
}
@media all and (max-width:400px){
    #par {
        margin-left: 40px;
        font-size: 40px;
    }
    .container {
        width: 60%;
        padding: 20px;
    }
}
@media all and (max-width:360px){
    #par {
        margin-left: 60px;
        font-size: 30px;
    }
}
@media all and (max-width:344px){
    #par {
        margin-left: 60px;
    }
}